{% extends 'base.html'%}
{%load static%}
{% comment %} {%load cloudinary%} {% endcomment %}
{% block content %}
{{block.super}}

<div style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(/static/img/background1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed; height:100vh;">

<div class="container text-center">
    <h1 class=" ml-5 pt-5  underline off-white">WELCOME TO AREA 51</h1>
    <h2 class="off-white underline">{% now "jS \o\f F" %} </h2><br>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
    <div class="col-md-6 p-3">
        <div class="card text-center">
            <div class="card-header">
                {{post.title}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.post}}</h5>
            </div>
            <div class="card-footer text-muted"> Posted on {{post.pub_date|date:"D d M"}} by {{post.prof_ref.user|title}}</div>
        </div>
    </div>   
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}
