<nav class="navbar navbar-expand-lg navbar-blue bg-light fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">AREA-51</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'business'%}">Biashara</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'upload_post'%}">Upload a Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'services'%}">Emergency</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'profile'%}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>        
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Login</a>
        </li>
          {% endif %}        
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Businesses" aria-label="Search" name="business">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</div>
</nav><br><br>