{% extends 'base.html'%} 
{% block content %}
<div class="dark-mode ">
<div class="container"><br><br>
  <div class="row text-center">
    {% if businesses%}
      <h2>Found {{ businesses|length }} businesses with searched term '{{message}}'</h2>
    {% else %}
      <h2> Found 0 businesses for the search term {{message}}</h2>
    {% endif %}
  </div>
</div><br><br>
<div class="container">
    <div class="row">
        {% if businesses %}
        {% for business in businesses %}
        <div class="col-md-6">
            <div class="card zoom" id="cardoffwhite">
                <div class="card-body">
                    <p><strong>Business Name:</strong> {{business.biashara_name}}</p>
                    <p><strong>Description:</strong> {{business.biashara_description}}</p>
                    <p><strong>Contacts:</strong> {{business.biashara_digits}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center"><br><br>
    <h2>View all businesses <a href="{% url 'business' %}">Here</a></h2>
</div>
</div>
{% endif %}
{% endblock %}