.card {
    opacity: 92%;
}

.whiten {
    color: aliceblue;
}

.dark-mode {
    background-color: rgb(0, 174, 255);
    height: 100vh;
    width: 100vw;
}

.dark-mode-imbo {
    background-color: rgb(255, 0, 0);
    height: 100vh;
    width: 100vw;
}


.underline {
    text-decoration: underline;
}

.off-white {
    color: rgb(255, 255, 255);
}