.card {
    opacity: 92%;
}

.whiten {
    color: aliceblue;
}

.dark-mode {
    background-color: grey;
    height: 100vh;
    width: 100vw;
}

.dark-mode-imbo {
    background-color: rgb(175, 182, 182);
    height: 100vh;
    width: 100vw;
}


.underline {
    text-decoration: underline;
}

.off-white {
    color: rgb(0, 0, 0);
}